.text-primary {
    color: $color-primary !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 1.5rem !important;
}

.mt-3 {
    margin-top: 2rem !important;
}

.mt-4 {
    margin-top: 2.5rem !important;
}

.required {
    color: #f00;
    margin-left: 3px;
    font-size: 1.3rem;
    font-weight: 400;
}

.text-center {
    text-align: center !important;
}

.w-100 {
    width: 100% !important;
}
