.card {
    .card-header {
        display: flex;
        align-items: baseline;

        .control-box {
            a {
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }

        .caption {
            display: inline-block;
            padding: 8px 0;
            margin-right: auto;
        }
    }

    &.fullscreen {
        display: block;
        z-index: 9999;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: auto;
        border-radius: 0 !important;

        .card-header {
            position: fixed;
            width: 100%;
            z-index: 1001;
        }

        .card-body {
            padding-top: 4rem;
        }

    }

    &.minimized {
        .card-body {
            display: none;
            overflow: auto;
        }
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
    }
}
